{% extends 'base.html.twig' %}

{% block title %}Grille-test Euromillions{% endblock %}

{% block body %}
    <section class="container text-center">
        {{ dump(toto) }}
    </section>
{% endblock %}